<div class="well">
<h1><%= @category.name %></h1>

<% if @category.projects.any? %>
  <h4>Here are the projects for this category:</h4>

  <ul>
    <% @category.projects.each do |project| %>

        <li>Name: <%= project.name %></li><br>
        <li>Description: <%= project.description %></li><br>
        <li>Link: <%= project.link %></li><br>

        <%= link_to "Edit", edit_category_project_path(@category, project) %> |
        <%= link_to "Delete", category_project_path(@category, project),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>

    <% end %>
  </ul>
<% else %>
  <p>There are no projects yet!</p>
<% end %>
</div>
