<!-- <h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %> -->

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login-form-1">
  <form id="login-form" class="text-left">
    <div class="login-form-main-message"></div>
    <div class="main-login-form">
      <div class="login-group">
        <div class="form-group">
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="form-group login-group-checkbox">
          <input type="checkbox" id="lg_remember" name="lg_remember">
          <label for="lg_remember">remember</label>
        </div>
      </div>
      <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
    </div>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="actions">
      <% end %>
    </div>
    <div class="etc-login-form">
      <p>new user? <%= link_to "create a new account", new_user_registration_path %></p>
    </div>
  </form>
</div>
<% end %>
