<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<div class="comments">
	<p><b><i>Comments</i></b></p>
	<div id="comments_container">
		<%= render 'comments/list' %>
	</div>


	<div id="comment_form_container">
		<% if user_signed_in? %>
	</div>
</div>


<% if can? :mangage, Post %>
	<div class="admin">
		<nav>
			<ul class="nav nav-pills">
				<%= link_to "New comment", new_post_comment_path(@post, @comment), id: "new_comment_link", remote: true  %>
				<% else %>
				<p>Please sign in to add a comment.</p>
				<% end %>
				<li role="presentation"><%= link_to "Edit", edit_post_path(@post) %></li>
				<li><%= link_to "Delete", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete %></li>
			</ul>
		</nav>
	</div>
<% end %>
